<form action="/register" method="post">
  <div class="formItem">
    <label for="fullname">Full Name *</label>
    <input type="text" name="fullname" id="fullname" />
  </div>
  <div class="formItem">
    <input type="text" name="username" id="username" />
  </div>
  <div class="formItem">
    <label for="password">Password *</label>
    <input type="password" name="password" id="password" />
  </div>
  <div class="formItem">
    <label for="confirmPassword">Confirm Password *</label>
    <input type="password" name="confirmPassword" id="confirmPassword" />
  </div>
  <button>Submit</button>
</form>
