:root {
  --black: #141414;
  --yellow: #827721;
  --muted-white: #bababa;
  --active-white: #e4e3e3;
  --border-color: #6d6d6daf;
}

* {
  color: var(--muted-white);
}

body {
  background-color: var(--black);
}
