*,
*::after,
*::before {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* topbar */

.topnav ul {
  background-color: #0d14e1;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
}

.topnav a {
  text-decoration: none;
  color: #fdf6ed;
}

.navitem {
  list-style-type: none;
}

.authbar {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

/* form */

.formContainer {
  display: grid;
  padding: 1rem;
  justify-content: center;
  border: 1px solid red;
  gap: 2rem;
}

.authform {
  display: grid;
  gap: 2rem;
}

.submit {
  justify-self: end;
  padding: 0.5rem 2rem;
}

.submit:hover {
  cursor: pointer;
}

.formItem {
  display: grid;
  gap: 0.5rem;
}

.main {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.sidebar {
  border-right: 5px solid white;
  padding: 1rem;
}

.sidebar ul {
  list-style-type: none;
  display: grid;
  gap: 1rem;
  padding: 0;
}

.sidebar a {
  text-decoration: none;
}

.fileList {
  display: grid;
}

.item {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonPanel {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
